body {
    background-color: #CCCCFF;
}

#message {
    color: white;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    border: 1px black solid;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #0066FF; 
    box-shadow: 1px 1px 2px 1px black;
}

p {
    margin-right: 10px;
    text-size: 20px;
    font-weight: bold;
    text-align: right;
}
